*{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 80px;
    height: 100%;
    font-family: sans-serif;
}

.home{
    margin: 100px;
    font-size: 50px;
}

a{
    color: black;
}

form{
    font-size: 40px;
}

h1{
    margin-bottom: 60px;
    color: orange;
}

table{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    text-align: center;
    
}

table> thead >tr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightseagreen;
    padding-top: 20px;
    padding-bottom: 20px;
    color: azure;
    text-align: center;
}

table> thead >tr > th{
    width: 500px;
}

tbody > tr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:rgb(176, 230, 223);
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}

tbody >tr > td{
    width: 500px;
}

